TELEGRAM_BOT_TOKEN=
SPRINGFIELD_PRICE_ALLOWED_CHAT_IDS=
SPRINGFIELD_PRICE_FETCH_TIMEOUT_SEC=20
SPRINGFIELD_PRICE_CACHE_ENABLED=1
SPRINGFIELD_PRICE_CACHE_ITEM_TTL_SEC=86400
SPRINGFIELD_PRICE_PRICESAPI_KEY=
SPRINGFIELD_PRICE_BRIGHTDATA_API_KEY=
SPRINGFIELD_PRICE_BRIGHTDATA_SERP_ZONE=
